<% include ./partials/header %>

    <div class="container">
        <h1 style="text-align:center">Add New Category</h1>
        <div style="margin:30px auto; width:35%">
            <form action="/kategori/new" method="post">
                <div class="form-group">
                   <input class="form-control" type="text" name="kategoriAdi" placeholder="Category Name" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Add Category</button>
                </div>
            </form>
        </div>
        <hr>
    </div>

    <% include ./partials/footer %>